
#contact {
    margin-top: 50px;
}

#contact h1{
    padding-top: 50px;
    font-family: "Source Sans Pro";
    font-weight: 600;
}

#contact p{
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-size: 18px;
    padding-right: px;
}

#contact form {
    font-family: "Source Sans Pro";
    padding-right: 20px;
    padding-bottom: 50px;
} @media (max-width:768px ) {
    #contact form {
        padding-right: none;
    }
}

#map-right{
    padding-top: 50px;
    
} 



