@import 'bootstrap/scss/bootstrap';

h1, h2, h3, h4, h5 {
    font-size: 30px;
    font-family: "Red rose";
    font-weight: 600;
}

p {
    font-size: 18px;
    font-family: "Source Sans Pro";
    font-weight: 300;
}