@use 'navbar';
@use 'footer';
@use 'contacto';
@use 'btn';
@use 'color';
@use 'form-landing';

h1, h2, h3, h4, h5 {
    color: color.$redrose;
}
.header {
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .titular {
        h1 {
            color: color.$redrose;
        }
    }
}

.intro {
    .contenido {
        min-height: 450px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        .contenido__texto {
            width: 47%;
            padding: 0 5em;
        }
        .contenido__carrusel {
            width: 53%;
            height: 450px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15px;
            overflow-x: auto; /* o scroll */
            white-space: nowrap; /* evita saltos de línea */
            /* Firefox */
            scrollbar-width: none;
            /* IE / Edge viejo */
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
                display: none;
                }
            .contenido__img {
                flex: 0 0 auto;
                width: 300px ;
                height: 400px ;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

        }

    }
} @media (max-width:992px) {
    .intro {
        .contenido {
            flex-direction: column;
            align-items: center;
            transition: .5s ease;
                .contenido__texto {
                    width: 100%;
                    padding: 0 5em;
            }
                .contenido__carrusel {
                    margin-top: 2em;
                    width: 100%;
                }
        }
    }
}

.unico {
    .titular {
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 3em;
        padding-bottom: 1em;
        span{
            font-family: "Source Sans Pro";
            font-weight: 300;
            color: color.$redrose;
        }
    }
    .unico__valores {
        display: flex;
        flex-direction: row;
        min-height: 700px;
        justify-content: center;
        align-items: center;
        gap: 30px;
        .valores__opcion {
            display: flex;
            flex-direction: column;
            text-align: center;
            .video {
                video {
                    width: auto;
                    height:430px;
                    padding-bottom: 15px;
                }
            }

        }
    }
} @media (max-width:992px) {
    .unico {
        margin-bottom: 2em;
      .unico__valores {
        flex-direction: column;
      }
    }
}

.faqs {
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .card {
        border: none;
        .card-header {
        background: transparent;
        border: none;
        min-height: 65px;
        button {
            font-family: "Red rose";
            color: color.$redrose;
            font-weight: 600;
        }
       
    }
     .card-body {
            padding-left: 2em;
            padding-top: 0;
            padding-bottom: 0;
            min-height: 30px;

        }
    }
} @media (max-width:992px) {
    .faqs {
        margin-bottom: 2em;
        .video {
            margin-bottom: 1.5em;
        }
        .card {
            min-height: 70px;
        }
        .card-body {
            padding-top: 2em;
            min-height: 80px;
        }
    }
}